header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

h1 {
	margin: 0;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 10px;
}

input[type="text"] {
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

button {
	padding: 5px 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#greeting {
	margin-top: 20px;
	font-size: 1.2rem;
}
